<div class="row">
    <div class="container">
        <div class="navbar fixed-bottom navbar-light bg-light" id="navBarZ">
            Made with love in Austin, TX by Zach Selindh
        </div>
    </div>
</div>