<nav class="navbar navbar-light bg-light navbarz">
    <div class="container">
        <div class="col-sm-12 col-lg-6 col-xl-8">
            <a id="navbar-title" href="/">Zach Selindh</a>
            <p id="navbrand-subtext">Full Stack Web Developer</p>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-4">
            <div class="row" id="nav-icon-row-z">
                {{!-- GitHub Link --}}
                <a class="nav-item nav-icon-z" href="https://github.com/ZachSelindh" target="_blank"
                    title="GitHub Profile">
                    <div class="nav-item nav-link">
                        <img src="./images/github-logo.svg" height="60px" width="60px">
                    </div>
                    <p>GitHub</p>
                </a>
                {{!-- About Link --}}
                <a class="nav-item nav-icon-z" href="/about" title="About">
                    <div class="nav-item nav-link">
                        <img src="https://cdn3.iconfinder.com/data/icons/web-and-internet-icons/512/Information-512.png"
                            height="60px" width="60px">
                    </div>
                    <p>About</p>
                </a>
                {{!-- Portfolio Link --}}
                <a class="nav-item nav-icon-z" href="/portfolio" title="Portfolio">
                    <div class="nav-item nav-link">
                        <img src="https://cdn3.iconfinder.com/data/icons/business-511/100/business_10-512.png"
                            height="60px" width="60px">
                    </div>
                    <p>Portfolio</p>
                </a>
                {{!-- Portfolio Link --}}
                <a class="nav-item nav-icon-z" href="/contact" title="Contact Page">
                    <div class="nav-item nav-link">
                        <img src="https://cdn3.iconfinder.com/data/icons/email-51/48/25-512.png" height="60px"
                            width="60px">
                    </div>
                    <p>Contact</p>
                </a>
            </div>
        </div>
    </div>
</nav>