{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 writeUpBox" id="indexWriteUp">
            <h1> Welcome! </h1>
            My name is Zach Selindh, and I am a full-stack developer. I'm certified
            by the Unversity of Texas at Austin in technologies like React.js,
            Node.js, mySQL, MongoDB, and more! Click one of the links above to learn
            more about me and to check out my portfolio.
            <br><br>Thanks for your visit!
        </div>
    </div>
</div>