{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 writeUpBox" id="indexWriteUp">
            <h1> Welcome! </h1>
            My name is Zach Selindh, and I am a developer-in-training at the University of
            Texas at Austin. Click one of the links above to learn more about me, to look at my
            portfolio, or to contact me directly. Thanks for your visit!
        </div>
    </div>
</div>