{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 writeUpBox" id="portfolioBox">
            <a href="https://zachselindh.github.io/Hangman-Game/" class="btn btn-default" id="hangmanGameLink">
                <img class="img-responsive" src="./images/gallows6.jpg" width="250px" height="250px" />
                <p id="textblock">Wild West Hangman</p>
            </a>
            <a href="https://zachselindh.github.io/Crystal-Witch-Game/" class="btn btn-default" id="crystalGameLink">
                <img class="img-responsive" src="./images/blue-crystal.jpg" width="250px" height="250px" />
                <p id="textblock">Crystal Witch Game</p>
            </a>
            <a href="https://zachselindh.github.io/Pop-Culture-Trivia/" class="btn btn-default" id="popCultureQuizLink">
                <img class="img-responsive" src="./images/pop-culture.png" width="250px" height="250px" />
                <p id="textblock">Pop Culture Trivia</p>
            </a>
            <a href="https://zachselindh.github.io/GIPHY-API-project/" class="btn btn-default" id="GIPHYAPILink">
                <img class="img-responsive" src="./images/moviereel.png" width="250px" height="250px" />
                <p id="textblock">GIPHY API Project</p>
            </a>
            <a href="https://zachselindh.github.io/Train-Scheduler/" class="btn btn-default" id="TrainLink">
                <img class="img-responsive" src="./images/trainyard.jpg" width="250px" height="250px" />
                <p id="textblock">Train Scheduler</p>
            </a>
            <a href="https://github.com/ZachSelindh/LIRI-Bot" class="btn btn-default" id="LIRILink">
                <img class="img-responsive" src="./images/lirishot.PNG" width="250px" height="250px" />
                <p id="textblock">LIRI Bot</p>
            </a>
            <a href="https://github.com/ZachSelindh/BAmazon" class="btn btn-default" id="BamazonLink">
                <img class="img-responsive" src="./images/bamazon.PNG" width="250px" height="250px" />
                <p id="textblock">Bamazon</p>
            </a>
            <a href="https://dungeons-and-dragons-and-dates.herokuapp.com/" class="btn btn-default" id="DDDLink">
                <img class="img-responsive" src="./images/dnddates.PNG" width="250px" height="250px" />
                <p id="textblock">D & D & Dates</p>
            </a>
        </div>
    </div>
</div>
{{>footer}}