{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12 writeUpBox" id="portfolioBox">
            {{!-- MERN React Googl Books --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Google Books MERN App</h1>
                    <p class="portfolio-body">
                        My first MERN-stack application!
                        <br><br>
                        This app uses user input to search the Google Books API for matching titles.
                        The results are then formatted in React components, and users can select favorites,
                        which are saved to MongoDB via Mongoose. The Favorites pages displays the contents of the
                        database,
                        and users can remove items as they see fit.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://react-book-search-google.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/googlebookmern.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/React-Google-Books" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://react-book-search-google.herokuapp.com/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="React.js" src="./images/react-logo.png">
                    <img class="tech-icon" title="MongoDB" src="./images/mongodb-logo.png">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="APIs" src="./images/api-logo.jpg">
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                </div>
            </div> {{!-- End --}}

            {{!-- WoofShare --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://woofshare.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/woofshare.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">WoofShare</h1>
                    <p class="portfolio-body">
                        One of the major projects created with a small team
                        for my WebDev Bootcamp at UT. WoofShare
                        is a full-stack web app designed around one idea:
                        What if you could rent a dog?
                        This app utilizes Google Accounts for user validation. Users can view a library of available
                        dogs,
                        add them to a locally stored favorites list, reserve them, and leave reviews for other users.
                        <br><br>
                        Hilarious concept aside, I'm very proud of this app!

                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Sequelize" src="./images/sequelize.svg">
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                    <img class="tech-icon" title="Handlebars" src="./images/handlebars.png">
                    <img class="tech-icon" title="Sass" src="./images/sass.png">
                    <img class="tech-icon" title="APIs" src="./images/api-logo.jpg">
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/woofShare" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://woofshare.herokuapp.com/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            {{!-- On This Day --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">On This Day</h1>
                    <p class="portfolio-body">
                        One of my team-built projects for UT's WebDev Bootcamp.
                        This application uses a datepicker to call various APIs
                        and intergrate the response data into a format userful to the user.
                        <br><br>
                        The background image uses NASA's API to find a picture
                        of our solar system taken by satellites or
                        telescopes at some point through the years on the current date.
                        <br><br>
                        After the user picks a date, the app calls the Wikipedia and Youtube APIs
                        to find relevant data to that date. For example, the Wikipeda AJAX call uses
                        a scraper to find significant events that occured throughout history on that date.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://zachselindh.github.io/On-This-Day-Project/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/on-this-day.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/On-This-Day-Project" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://zachselindh.github.io/On-This-Day-Project/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="HTML" src="./images/html-icon.png">
                    <img class="tech-icon" title="CSS" src="./images/css-icon.png">
                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                    <img class="tech-icon" title="APIs" src="./images/api-logo.jpg">
                </div>
            </div {{!-- End --}}>

            {{!-- Avengers Clicky Game --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://avengers-clicky-app.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/avengers-clicky.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Avengers React Clicky Game</h1>
                    <p class="portfolio-body">
                        My first React.js application! This app uses React to render a web page with
                        cards featuring the visages of famous superheroes. Every time the user clicks an
                        Avenger, the cards are shuffled. The user must continue clicking until they either
                        click them all in sequence without repeats, or lose the game by clicking a card
                        twice.
                        <br><br>
                        If you click twice, then remember: "You should have gone for the head."
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                    <img class="tech-icon" title="React.js" src="./images/react-logo.png">
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/Clicky-React-Game" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://avengers-clicky-app.herokuapp.com/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            {{!-- News Scraper --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">News Scraper</h1>
                    <p class="portfolio-body">
                        This web app uses the Cheerio web scraper to make calls to various news websites
                        and returns data this styled and rendered in a format that allows users to view
                        the article headline, the subtext, and view links to the original articles.
                        <br><br>
                        The article information is stored using Mongoose and rendered using the Express-Handlebars
                        templating engine.
                        <br><br>
                        The app also uses local storage to create a favorites list.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://news-scraperer.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/news-scraper.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/News-Scraper" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://news-scraperer.herokuapp.com/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                    <img class="tech-icon" title="Handlebars" src="./images/handlebars.png">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                    <img class="tech-icon" title="MongoDB" src="./images/mongodb-logo.png">
                </div>

            </div> {{!-- End --}}

            {{!-- Burgers I'd Like to Eat --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://burgers-id-like-to-eat.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/burger.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Burgers I'd Like To Eat</h1>
                    <p class="portfolio-body">
                        Who doesn't like a good cheeseburger? This app uses a MySQL database
                        to store what burgers I'd like to eat, and allows me to change info
                        on the database when I've eaten the burger.
                        <br><br>
                        Please don't add any expletive-laced burger names. I definitely
                        won't find it hilarious and laugh out loud when I see it. Promise.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Handlebars" src="./images/handlebars.png">
                    <img class="tech-icon" title="MySQL" src="./images/mysql.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/Burgers-Id-Like-To-Eat" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://burgers-id-like-to-eat.herokuapp.com/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            {{!-- D&D and Dates --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">D&#38;D &#38; Dates </h1>
                    <p class="portfolio-body">
                        Everyone has that one fantasy about that cute elven rogue, right? No? Just me?
                        <br><br>
                        This app uses Express and Node.js to set up a survey that matches the user to whichever
                        character in the native API has the closest survey score.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://dungeons-and-dragons-and-dates.herokuapp.com/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/dddates.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/DungeonsAndDragonsAndDates" title="GitHub Repo"
                        target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://dungeons-and-dragons-and-dates.herokuapp.com/" title="Deployed App"
                        target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="Heroku" src="./images/heroku.png">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                </div>

            </div> {{!-- End --}}

            {{!-- Bamazon --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://www.youtube.com/watch?v=-A4jBu9tmHI" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/bamazon.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Bamazon Fake Shopping Site</h1>
                    <p class="portfolio-body">
                        This is a CLI application that uses MySQL to administer a fake
                        electronics store's stock.
                        <br><br>
                        As a CLI, it's not deployed, so
                        my deployment links refer to a youtube video showing the functionality.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>

                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Node.js" src="./images/nodejs-logo.png">
                    <img class="tech-icon" title="MySQL" src="./images/mysql.png">
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/BAmazon" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://www.youtube.com/watch?v=-A4jBu9tmHI" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            {{!-- GIPHY API --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">GIPHY API Project</h1>
                    <p class="portfolio-body">
                        One of my first applications using APIs. This app features a row of buttons
                        which query the Giphy API with their keyword to return 10 GIFs that match
                        the search criteria. Actually, they're just still images; mousing over the
                        thumbnails will turn them into animated GIFs.
                        <br><br>
                        Users can also add their own search buttons, as well as clear the GIFs that
                        have been previously populated.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://zachselindh.github.io/GIPHY-API-project/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/giphy.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/GIPHY-API-project" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://zachselindh.github.io/GIPHY-API-project/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="HTML" src="./images/html-icon.png">
                    <img class="tech-icon" title="CSS" src="./images/css-icon.png">
                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="APIs" src="./images/api-logo.jpg">
                </div>
            </div> {{!-- End --}}

            {{!-- Pop Culture Quiz --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://zachselindh.github.io/Pop-Culture-Trivia/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/popculturequiz.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Pop Culture Quiz</h1>
                    <p class="portfolio-body">
                        This application uses JQuery and Javascript timers to create a timed quiz, pulling questions
                        from all sorts of cultural phenomena, from Avengers to Zoolander.
                        <br><br>
                        When the game begins, an RNG chooses one of the in-built questions from a native array, and
                        starts a timer. Whether the user answers correctly or incorrectly, appropriate reaction GIFs and
                        statements are randomly selected for the popup window.
                        <br><br>
                        This app was styled using Bootstrap and a whole lot of nostalgia.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="HTML" src="./images/html-icon.png">
                    <img class="tech-icon" title="CSS" src="./images/css-icon.png">
                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">

                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/Pop-Culture-Trivia" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://zachselindh.github.io/Pop-Culture-Trivia/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            {{!-- Crystal Witch Game --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Crystal Witch Game</h1>
                    <p class="portfolio-body">
                        One of my early apps. This game uses Jquery and timers to create a guessing/memory game
                        in which the player must correctly learn the values of the displayed crystals and use
                        on-the-fly arithmetic to get to the randomly generated target number.
                        <br>
                        <br>

                        My app has a twist: In "Hardcore Mode," a ten-second timer is constantly counting down.
                        When it reaches zero, the values of the crystals reset, but the current score and target stay
                        the same!
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="https://zachselindh.github.io/Crystal-Witch-Game/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/crystalwitch.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/Crystal-Witch-Game" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://zachselindh.github.io/Crystal-Witch-Game/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="HTML" src="./images/html-icon.png">
                    <img class="tech-icon" title="CSS" src="./images/css-icon.png">
                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">
                    <img class="tech-icon" title="JQuery" src="./images/jquery-logo.jpg">
                </div>
            </div> {{!-- End --}}

            {{!-- Wild West Hangman --}}
            <div class="row portfolio-item">
                <div class="col-md-12 col-lg-6">
                    <a href="https://zachselindh.github.io/Hangman-Game/" target="_blank">
                        <img class="img-responsive portfolio-button" src="./images/wildwesthangman.gif" width="450px"
                            height="250px" />
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="portfolio-title">Wild West Hangman</h1>
                    <p class="portfolio-body">
                        My first functional web application! This app uses vanilla Javascript and
                        the Bootstrap HTML/CSS library for styling, albeit at the level of a true beginner!
                        A basic hangman game, Wild West Hangman uses a native array of possible words to populate
                        the scoreboard. Once a word is chosen, it is kicked out of the array, so it is possible to win
                        the game is you successfully guess all the words! Extra credit if you don't use the
                        console/developer tools to see the words!
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 tech-row">
                    <span class="tech-title"> Technologies: </span>
                    <img class="tech-icon" title="HTML" src="./images/html-icon.png">
                    <img class="tech-icon" title="CSS" src="./images/css-icon.png">
                    <img class="tech-icon" title="Javascript" src="./images/javascript-icon.jpg">
                    <img class="tech-icon" title="Bootstrap" src="./images/bootstrap-icon.png">

                </div>
                <div class="col-md-12 col-lg-6 link-row">
                    <span class="tech-title"> Links: </span>
                    <a href="https://github.com/ZachSelindh/Hangman-Game" title="GitHub Repo" target="_blank">
                        <img class="tech-icon tech-link" src="./images/github-logo.svg">
                    </a>
                    <a href="https://zachselindh.github.io/Hangman-Game/" title="Deployed App" target="_blank">
                        <img class="tech-icon tech-link" src="./images/web-icon.png">
                    </a>
                </div>
            </div> {{!-- End --}}

            <div class="row">
                <div class="col-12">
                    <h1 class="portfolio-bottom">Check back soon for more projects!</h1>
                </div>
            </div>
        </div>
    </div>
</div>